<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Category Manager</title>
</head>
<body>
    <h1>CATEGORY MANAGER</h1>
    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Tên danh mục</th>
                <th>Miêu tả</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c, intStar : ${categories}">
                <td th:text="${intStar.count}"></td>
                <td th:text="${c.getId()}"></td>
                <td th:text="${c.getCategoryName()}"></td>
                <td th:text="${c.getDescription()}"></td>
                <td>
                    <a>Cập nhật</a>
                    <a th:href="'/categories/delete/' + ${c.getId()}">Xóa</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{categories/create}">Tạo mới</a>
</body>
</html>