<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Category Manager</title>
</head>
<body>
    <h1>CATEGORY MANAGER</h1>
    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Tên danh mục</th>
                <th>Miêu tả</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>Thời trang</td>
                <td>Thời trang mới nhất dành riêng cho bạn</td>
                <td>
                    <a>Cập nhật</a>
                    <a>Xóa</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>