<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
</head>
<body>
    <h1>PRODUCT MANAGER</h1>
    <table>
        <thead>
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Miêu tả sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p, inteStar : ${products}">
            <td th:text="${inteStar.count}"></td>
            <td th:text="${p.getId()}"></td>
            <td th:text="${p.getProductName()}"></td>
            <td th:text="${p.getDescription()}"></td>
            <td th:text="${p.getPrice()}"></td>
            <td th:text="${p.getQuantity()}"></td>
            <td>
                <a th:href="'/products/delete/' + ${p.getId()}">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{products/create}">Tạo mới</a>
</body>
</html>